div.scouter ol {
	margin-top: 3px;
	padding-left: 20px;
	max-width: 200px;
}
div.scouter li {
	list-style-type: decimal;
}

div.scouter div.engine {
	margin: 5px 0;
	padding: 5px;
	-webkit-border-top-left-radius: 10px;
	border: #AAF 2px solid;
	background-color: #EEF;
}

img.icon {
	font-size: 0px;
	padding: 0 4px 0 0;
}
a.engine-title {
	text-decoration: none;
}
span.hit {
	float: right;
}


span.baserank {
	margin: 0 0 0 4px;
	padding: 0 3px 0 3px;
	color: #ffffff;
	background-color: #2C6EBD;
	-webkit-border-radius: 2px;
/*	border: 1px solid #16375E;*/
	font-weight: bold;
	font-size: 90%;
}

span.no-pagerank {
	background-color: #ffffff !important;
	color: #2572aa !important;
}

span.pagerank0 {
	background-color: #e2ecff !important;
}

span.pagerank1 {
	background-color: #c6d9ff !important;
}

span.pagerank2 {
	background-color: #aac6ff !important;
}

span.pagerank3 {
	background-color: #71a0ff !important;
}

span.pagerank4 {
	background-color: #558dff !important;
}

span.pagerank5 {
	background-color: #387aff !important;
}

span.pagerank6 {
	background-color: #1c67ff !important;
}

span.pagerank7 {
	background-color: #0055ff !important;
}

span.pagerank8 {
	background-color: #003fff !important;
}

span.pagerank9 {
	background-color: #ff6a00 !important;
}

span.pagerank10 {
	background-color: #ff3f00 !important;
}
