div.scouter ol {
	padding-left: 20px;
	max-width: 200px;
}
div.scouter li {
	list-style-type: decimal;
}

div.scouter div.engine {
	margin: 5px 0;
	padding: 5px;
	-webkit-border-top-left-radius: 10px;
	border: #AAF 2px solid;
	background-color: #EEF;
}
