<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script>
    function locupdate(pos) {
    var d = document.getElementById("d");
    d.innerHTML = "lat: " + pos.coords.latitude + " long: " + pos.coords.longitude + " accuracy: " + pos.coords.accuracy;

    var form = document.getElementById("form");
    form.longitude.setAttribute('value', pos.coords.longitude);
    form.latitude.setAttribute('value', pos.coords.latitude);
    }

    function handleError(a) {
    var d = document.getElementById("d");
    d.innerHTML = "<p> error: " + a.code + "</p>";
    }

    window.onload = function(){
    navigator.geolocation.watchPosition(locupdate, handleError)
    };
  </script>
</head>

<body>
  <div id="header">
  </div>
  
  <div>
    <ul class="navigation">
      <li><a href="/">Top</a></li>
      <li><a href="/messages">Messages</a></li>      
      <li><a href="/messages/new">New message</a></li>
    </ul>    
  </div>
  
  <hr />
  
  <h1>New message</h1>

  <div id="content">

    <form id="form" action="/messages" enctype="multipart/form-data" method="post">
      <div>
        <label>Say something:</label><br>
        <textarea name="text" rows="4" cols="60"></textarea>
      </div>
      <!-- 
      <div>
        <input type="file" name="photo">
      </div>
      -->
      <div>
        <input type="submit" value="Submit">
      </div>
      <input type="hidden" name="longitude" value="0">
      <input type="hidden" name="latitude" value="0">
      <div id="d"></div>
    </form>

  </div>

</body>
</html>
