{%extends "../base.html" %}
{% block main %}
  <h1>Message</h1>

  <div id="message">
    <p class="message-body">{{ message.text|escape }}</p>
    {% if message.user %}
    by <span class="signature">{{ message.user.google_account.nickname }}</span>
    {% else %}
    by <span class="signature">an anonymous person</span>
    {% endif %}

    {% if message.place %}
    <p>Place:({{post.place.lat}}, {{post.place.lon}})</p>
    {% else %}
    <p>Place:unknown</p>
    {% endif %}
  </div>
{% endblock %}