* {
	margin: auto;
}

body {
	background-color: #AFEEEE;
}

a:visited {
	color: #800080;
}

.test {
	border-style: solid;
}

.header {
	width: 1200px;
	height: 130px;
	color: #FFFFFF;
}

#content-top {
	width: 1200px;
/*	height: 70px; */
	height: 5px; 
}

#entry {
	float: right;
	width: 200px;
	height: 40px;
	margin: 10px;
}

.content {
	width: 1300px;
	height: 500px;
	background-color: #FFFFFF;
}

#content-main {
	width: 1200px;
	height: 400px;
}

#map {
	float: left;
	width: 800px;
	height: 400px;
}

#timeline {
	width: 350px;
	height: 400px;
}

div.tweet {
	
}
#screen_name {
	float: left;
	background-image:url(/images/tweet.png);
	background-repeat: no-repeat;
	width:  72px;
	height: 64px;
	margin: 0 auto; 
}

#tweet_text {
	float: right;
	height: 64px;
	width: 280px;
}
#group_timeline {
	width: 381px;
	height: 400px;
	overflow: auto;
}
#groups {
	float: right;
	width: 381px;
}
