@charset "utf-8";

/*
======== table of content. =================================

summary:初期化ならびに初期設定

- IEPNGFIX
- CSSHOVER
- RESET
- BASE LINK COLOR

============================================================
*/

/* IEPNGFIX */
* html .iepngfix {
	behavior: expression(IEPNGFIX.fix(this));
}

/* CSSHOVER */
*{
	font-size:100%
}
/*-----------------------------------------------------
RESET
-------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, pre, form, dl, dt, dd, 
blockquote, fieldset, input, address {
	margin:0;
	padding:0;
}

h1, h2, h3, h5, h6, caption, address {
	font-style: normal;
	font-weight: normal;
}

ul, ol, li {
	list-style-type: none;
}

table {
}

caption {
	display:none;
}

form {
	display:inline;
}

fieldset {
	border:none;
}

legend {
	display:none;
}


img{
	border:0;
	vertical-align:bottom;
}

hr {
	display:none;
	clear: both;
}


a {
	outline:none;
}


/*-----------------------------------------------------
BASE LINK COLOR
-------------------------------------------------------*/

a:link,
a:visited {
	color:#996600;	
	text-decoration:underline;
}

a:hover {
	color:#ED7A00;
	text-decoration:none;
	padding:0;
	margin:0;
}

/* OPERA 9 HACK */
@media all and (min-width: 0px) {
#header dl#globalNavi dd {
	
}
}
