<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<title>MY-1 JAPAN GP 2011</title>
	<link rel="stylesheet" href="{{media_url}}/css/import.css">
	<script type="text/javascript" src="{{media_url}}/js/jquery.js"></script>
	<script type="text/javascript" src="{{media_url}}/js/liscroll.js"></script>
	<script type="text/javascript" src="{{media_url}}/js/index.js"></script>
</head>

<body>

{{ len }}

<header>
  {% if request.user.is_anonymous() %}
    <p>&nbsp;</p><p><a href="{{ create_login_url() }}">ログイン</a></p>
  {% else %}
    <p>挑戦者名：{{ request.user }}</p><p><a href="{{ create_logout_url() }}">ログアウト</a></p>
  {% endif %}

</header>

<section id="main">
	<div class="bg">
		<p><a href="">
		{% if request.user.is_anonymous() %}
			<a href="./challenge_list"><img src="{{media_url}}/img/b_challenge.png"></a>
		{% else %}
			<a href="./challenge_list"><img src="{{media_url}}/img/b_challenge2.png"></a>
		{% endif %}
		
		</a></p>
		<div class="clearfix">
			<ul id="ticker01">
				{% for scroll in scrolls %}
					<li>{{ scroll }}</li>
				{% endfor %}
				
			</ul>
		</div>
	</div>
</section>

<nav>
	<p>MY-1 メニュー</p>
	<table cellspacing="0">
		{% for challenge in challenges %}
		<tr>
			<td><a href="" class="select"><img src="{{media_url}}/img/i_nav1.png">{{ challenge.name }}</a></td>
		</tr>
		{% endfor %}
	</table>
</nav>

<section id="youtube">
	<h2><img src="{{media_url}}/img/i_my1.png">MY-1　ランキング</h2>
	<div id="space10">
		<ul>
			{% for top_runking in top_runkings %}
			<li>
				<iframe title="YouTube video player" width="110" height="65" src="http://www.youtube.com/embed/{{ top_runking.youtubeurl }}" allowfullscreen></iframe>
				<div>
					<h3>{{ top_runking.competition.name }}</h3>
					<p class="time">
						<img src="{{media_url}}/img/i_time.png" style="padding-right: 5px;">
						<span>
							{% for i in range(top_runking.respect) %}
								<img src="{{media_url}}/img/star_1.png">
							{% endfor %}
						</span>
					</p>
					<p class="data">{{ top_runking.created }}<span>再生回数：{{ top_runking.play_count }}回</span></p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section id="youtube">
	<h2>★ リスペクト動画ランキング</h2>
	<div id="space10">
		<ul>
			{% for respect_runking in respect_runkings %}
			<li>
				<iframe title="YouTube video player" width="110" height="65" src="http://www.youtube.com/embed/{{ respect_runking.movie_id }}" allowfullscreen></iframe>
				<div>
					<h3>{{ respect_runking.title }}</h3>
					<p class="time">
						<img src="{{media_url}}/img/i_time.png" style="padding-right: 5px;">00:01:20
						<span>
							{% for i in range(respect_runking.rank) %}
								<img src="{{media_url}}/img/star_1.png">
							{% endfor %}
						</span>
					</p>
					<p class="data">{{ respect_runking.update_time }}<span>再生回数：{{ respect_runking.play_count }}回</span></p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


<nav>
	<p>MY-1 メニュー</p>
	<table cellspacing="0">
		{% for event in events %}
		<tr>
			<td><a href="" class="select"><img src="{{media_url}}/img/i_nav1.png">{{ event }}</a></td>
		</tr>
		{% endfor %}
	</table>
</nav>

<footer>
	<ul>
		<li><a href="">競技ルール</a></li>
		<li><a href="">ご利用ガイド</a></li>
		<li><a href="">違反者報告</a></li>
	</ul>
	<p>&copy; 2011 MY-1</p>
</footer>

</body>
</html>
