{%extends "../base.html" %}
{% block main %}

<script type="text/javascript" src="/js/gt_api.js"></script>

<script type="text/javascript">

  var theRequest = getXMLHttpRequestObject();
  
  function resultHandler() {
    if (theRequest.readyState == 4 && theRequest.status == 200) {
      // Succeeded
      var divLoc = document.getElementById("location");
      divLoc.innerHTML = "Location updated!"
    } else {
      //alert("Failed");
    }
  }
  
  function updateLocation(lat, lon) {
    path = "/users/{{user.key.id}}";
    data = "lat=" + encodeURIComponent(lat) + "&lon=" + encodeURIComponent(lon);
    postData(theRequest, path, data, resultHandler);
  }
  
  function locupdate(pos) {
    updateLocation(pos.coords.latitude, pos.coords.longitude);
  }
  
  function handleError(a) {
    alert("Failed");
  }
  
  window.onload = function(){
    if(navigator.geolocation){
      navigator.geolocation.watchPosition(locupdate,handleError);
    }else{
      alert("ご利用のブラウザでは位置情報が利用出来ません");
    }
  };
</script>

  <h1>User</h1>

  <div id="user">
    <table>
      <tbody>
        <tr><td>なまえ:</td><td>{{user.google_account.nickname}}</td></tr>
	<!--
        <tr><td>職業:</td><td>旅芸人</td></tr>
        <tr><td>生息地:</td><td>京都府, 日本</td></tr>
	-->
      </tbody>
    </table>
      <p><a href="/twitter/oauth/twitter/logout">twitterからログアウトする</a></p>
    {% if user.twitter_account %}
    <div id="twitter">
      <p>Twitter OAuth token: {{user.twitter_account.oauth_token}}</p>
      <p><a href="/twitter/oauth/twitter/logout">twitterからログアウトする</a></p>
    </div>
    {% else %}
      <p><a href="/twitter/oauth/twitter/login">twitterにログインする</a></p>
    {% endif %}
  </div>
  
  <div id="location">
  </div>
  
{% endblock %}