<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Twitter translate test</title>
</head>
<body style="background-color:#dddddd;">
  <form action="/" method="POST">
  <p><%=@contents %></p>
  <div>
   <ul>
   <li>IconURL:<input name="trans[icon_url]" /></li>
   <li>UserName:<input name="trans[user_name]" /></li>
   <li>Contents:<input name="trans[contents]" /></li>
   <li>CreatedAt:<input name="trans[created_at]" /></li>
   <li>Memo:<input name="trans[memo]" /></li>
   <li><input type="submit" value="submit" /></li>
   </ul>
  </div>
  </form>
</body>
</html>
