#content {
	text-align: center;
}
#timeline {
	height:10%;
	z-index:1;
}
.preview {
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	height:80%;
	z-index:1;
	background-color:white;
}
.top {
	z-index:10;
	display:block;
}
