<form action="/group/create/" method="post">
name<input name="groupname" type="text"/><br/>
url<input name="url" type="text"/><br/>
list<input name="list" type="text"/><br/>
tag<input name="tag" type="text"/><br/>
<input type="submit" value="submit">
</form>
