<div class="header">
	<div id="title">
		<h1><a href="index.html"><img class="logo" src="images/logo.png" width="400" border="0" /></a></h1>
	</div>
	<div id="subject">
		団体間のつながりが見えるサービス
	</div>
</div>
<div class="content">
	<div id="content-top">
		<div id="entry">
			<a href=""><img src="images/entry.gif"/></a>
		</div>
		<div id="dialog" title="団体情報の登録" style="display: none;">
			団体名：<br />
			<input type="text" name="name" id="name" size="20" />
			説明：<br />
			<input type="text" name="subject" id="subject" size="30" />
			リスト：<br />
			<input type="text" name="list" id="list" size="100" />
			サイトURL：<br />
			<input type="text" name="siteurl" id="siteurl" size="100" />
		</div>
	</div>
	<div id="content-main">
		<div id="map" class="test">
			地図
		</div>
		<div id="timeline" class="test">
			タイムライン
		</div>
	</div>
</div>
