<div class="header">
	<div id="title">
		<h1><a href="/"><img class="logo" src="images/logo.png" width="400" border="0" /></a></h1>
	</div>
	<div id="subject">
		団体間のつながりが見えるサービス
	</div>
</div>
<div class="content">
	<div id="content-top">
		<div id="entry">
				<a href="javascript:void(0);" id="entry-button"><img src="images/entry.gif" border="0" /></a>
		</div>
		<div id="dialog" title="団体情報の登録" style="display: none;">
			団体名：<br />
			<input type="text" name="name" id="name" size="65" /><br />
			説明：<br />
			<input type="text" name="subject" id="subject" size="65" /><br />
			リスト：<br />
			<input type="text" name="list" id="list" size="65" /><br />
			サイトURL：<br />
			<input type="text" name="siteurl" id="siteurl" size="65" />
		</div>
	</div>
	<div id="content-main">
		<div id="map" class="test">
			地図
		</div>
		<div id="group_details" class="test">
			タイムライン
		</div>
	</div>
</div>
