<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<title>つながったー</title>
	<link rel="stylesheet" type="text/css" href="/css/import.css" />
	<link type="text/css" href="/css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/jquery.notifyBar.css" type="text/css" media="screen"  />
	<script src="/js/jquery-1.4.1.min.js" type="text/javascript"></script>
	<script src="/js/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
	<script 
		src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= @google_map_api_key %>&sensor=false"
		type="text/javascript"></script>
	<script src="http://gmaps-utility-library-dev.googlecode.com/svn/tags/mapiconmaker/1.1/src/mapiconmaker.js" type="text/javascript"></script> 
	<script src="/js/jquery.timer.js" type="text/javascript"></script> 
	<script src="/js/group_map.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery.notifyBar.js"></script>
	<script type="text/javascript">
			$(function() {
				$.getJSON("/status/notifymessage/json/", {} , function(result){
					if (result.notify){
						$.notifyBar({
							html: result.message,
							delay: result.timeout,
							animationSpeed: result.speed
						});
					}
				});
	      $('#dialog').dialog({  
	        bgiframe: true,
	        autoOpen: false,
	        width: 600,
	        height: 350,  
	        modal: true,  
	        buttons: {  
	          '登録': function() {
	            $(this).dialog('close');  
	          },  
	          'キャンセル': function() {  
	            $(this).dialog('close');  
	          }  
	        },  
	        close: function() {  
	          //$(this).dialog('close');  
	        }  
	      });
	      $('#login_info').dialog({  
	        bgiframe: true,
	        autoOpen: false,
	        width: 600,
	        height: 350,  
	        modal: true,  
	        close: function() {  
	        }  
	      });

			$('#entry-button').click(function() {
				//ログインチェック
				$.getJSON("/status/accountcheck/json/", {} , function(result){
					if ( result.status != 'login' ) {
						//ログインしてなければ、ログイン用ダイアログ表示
						var anchor = $('#login_info_a');
						anchor.attr("href",result.url);
						$('#login_info').dialog('open');
					} else {
						//ログイン済みということでダイアログ表示
						$('#dialog').dialog('open');
					}
				});
				})
			});
    </script> 
</head>
<body onload="initialize()" onunload="GUnload()">

<div class="header">
	<div id="title">
		<h1><a href="/"><img class="logo" src="/images/logo.png" border="0" /></a></h1>
	</div>
	<div id="subject">
		団体間のつながりが見えるサービス
	</div>
</div>
<div class="content">
	<div id="content-top">
		<div id="entry">
				<a href="javascript:void(0);" id="entry-button"><img src="images/entry.gif" border="0" /></a>
		</div>
		<div id="dialog" title="団体情報の登録" style="display: none;">
			団体名：<br />
			<input type="text" name="name" id="name" size="65" /><br />
			説明：<br />
			<input type="text" name="subject" id="subject" size="65" /><br />
			リスト：<br />
			<input type="text" name="list" id="list" size="65" /><br />
			サイトURL：<br />
			<input type="text" name="siteurl" id="siteurl" size="65" />
		</div>
		<div id="login_info" title="ログインしてください" style="display: none;">
			google にログインしてから登録してください。 <a id="login_info_a" href="">google に login</a>
		</div>

	</div>
	<div id="content-main">
		<div id="map" class="test">
			地図
		</div>
		<div id="group_details" class="test">
			タイムライン
		</div>
		<div id="group_timeline" class="test">
			タイムライン表示テスト用
		</div>
	</div>
</div>
</body>
</html>
