{%extends "../base.html" %}
{%block main%}  
  <h1>Messages on Map</h1>

  <div id="content">
    {% for message in messages %}
      <p class="message-body">{{ message.text|escape }}</p>
      {% if message.user.google_account %}
        by {{ message.user.google_account.nickname }}
      {% else %}
        by an anonymous person
      {% endif %}
    
      {% if message.place %}
        <span class="location">at {{ message.place.location }}</span>
      {% else %}
        <span class="location">at somewhere on the earth</span>
      {% endif %}
    {% endfor %}
  </div>
{%endblock%}