<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ココドヤ？</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon" href="/media/img/home.png" />
  <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
  <link rel="stylesheet" href="/media/style/iphone.css" media="screen" />

  <script type="text/javascript" src="/media/js/iphone.js"></script>
</head>
<body>
<div id="container">
  <div id="content">
    <a href="{{url_for('kokodoya/measure')}}"><img src="/media/img/startup.png" alt="" class="startup" /></a>
    </div>
</div>
</body>
</html>
