<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>マップ | ココドヤ？</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon" href="/media/img/home.png" />
  <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
  <link rel="stylesheet" href="/media/style/iphone.css" media="screen" />

  <script type="text/javascript" src="/media/js/iphone.js"></script>
</head>
<body style="background:none;">
<div id="container">
  <header id="gHeader">
    <p class="put-left"><a href="{{url_for('kokodoya/measure')}}"><img src="/media/img/btn_back.png" alt="戻る" /></a></p>
    <h1 class="put-center"><img src="/media/img/logo_header.png" alt="Koko-Doya?" /></h1>
    <p class="put-right"><a href="{{url_for('kokodoya/measure')}}"><img src="/media/img/btn_stop.png" alt="キャンセル" /></a></p>
    </header>
  <div id="content" style="padding-top:50px;">

    <a href="{{url_for('kokodoya/result')}}"><img src="/media/img/progressing.gif" alt="" width="223" height="224" /></a>
    </div>
</div>
</body>
</html>

