body {
  color: #444;
  margin: 0;
  padding: 0;
  font-family: serif;
}

#container {

}

#header {
  background: #fff url("../images/logo-bg.png") repeat-x;
  margin-bottom: 20px;
}

.tweet {
  /*border-bottom: 1px solid #E2F2FF;*/
  padding: 10px;
  width: 230px;
  float: left;
  font-size: 10px;
  overflow: hidden;
}

.profileImageUrl {
  float: left;
  padding: 0 10px;
}

.text {
  padding-left: 80px;
  /*overflow: hidden;*/
}

.tweet-footer {
  clear: both;
  padding: 10px 0 10px 80px;
  font-size: 10px;
}


#tw0 {
  width: 480px;
}
#tw1 {
  width: 480px;
}
#tw2 {
  width: 230px;
}



#tw0 .text {
  font-size: 32px;
}
#tw1 .text {
  font-size: 24px;
}
#tw2 .text {
  font-size: 18px;
}
#tw3 .text {
  font-size: 16px;
}
#tw4 .text {
  font-size: 14px;
}
#tw5 .text {
  font-size: 12px;
}