body{
	margin: 0;
	padding: 0;
	background:url('./images/back_line.gif') repeat 0 0;
	font-size:0.9em;
	font-family: "ÉÅÉCÉäÉI","Meiryo","ÉqÉâÉMÉmäpÉS Pro W3","Hiragino Kaku Gothic Pro","ÇlÇr ÇoÉSÉVÉbÉN", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;
	line-height:1.6;
}

a{
	text-decoration:none;
}

canvas{
	display:block;
	width:1200px;
}



#layer {
	position:absolute;
	top:0;
	left:0;
	z-index:100;

	background-color:rgba(0, 0, 0, .8);
	width:100%;
	height:100%;
}

#layer p {
	margin:20px 0 0;
	padding:0;
	text-align:center;
	color:#fff;
	font-size:600px;
	font-weight:bold;
	line-height:1;
}

#result {
	position:absolute;
	z-index:1000;
	text-align:center;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	font-size:300px;
	color:#cc0000;
	display:none;
	-webkit-transform: scale(10);
}

#container{
	position:relative;
	width:1200px;
	height:1182px;
	margin: 0 auto;
	padding: 0;
	background:url('./images/stage_battle.jpg') no-repeat 0 0;
}

#top-link a{
	display:block;
	position:absolute;
	top:20px;
	left:110px;
	width:600px;
	height:150px;
	text-indent:-9999px;
}

#container .player{
	width:274px;
	margin: 0 40px 0 0;
	padding: 22px 20px;
	background:#fff;
	border:#000 3px solid;
	border-radius:2px;
	-webkit-box-shadow: 0px 0px 5px #333;
}

#container .enemy{
	position:absolute;
	top:320px;
	left:180px;
}

#container .me{
	position:absolute;
	top:320px;
	right:135px;
}

#container #hibana{
	position:absolute;
	top:300px;
	left:452px;
	display:none;
}

#container .player dl{
	margin:0 0 0.8em;
	padding:0;
	text-align:center;
}

#container .player dt{
	margin:0;
	padding:0;
}

#container .player dd{
	margin:0;
	padding:0;
}

#container .player dd a{
	font-size:1.2em;
	font-weight:bold;
	color:#cc0000;
}

#container .player dd a:hover{
	background:#ffcc00;
	color:#000;
}

#container .player p{
	margin:0;
	padding:0;
	text-align:center;
}
