p.message-body {
	font-size:14pt;
	width: 600px;
	height: 50pt;
	border: 1px solid #CCCCCC;
}

span.user-name {
	font-size:10pt;
	color:blue;
}

div.message {
	background-color: #FFFFCC;
	width: 600px;
}

ul#navigation {
	list-style: none;
}

ul#navigation li {
	display: inline;
}

ul#navigation a {
	padding: 0.2em 0.3em;
}

ul#navigation a:hover {
	background-color: #AAAAFF;
}