<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Mapper</servlet-name>
		<servlet-class>jp.fukui.mapper.MapperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mapper</servlet-name>
		<url-pattern>/mapper</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>SetKeyword</servlet-name>
		<servlet-class>jp.fukui.mapper.form.SetKeyword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetKeyword</servlet-name>
		<url-pattern>/setKeyword</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetKeyword</servlet-name>
		<servlet-class>jp.fukui.mapper.form.GetKeyword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetKeyword</servlet-name>
		<url-pattern>/getKeyword</url-pattern>
	</servlet-mapping>
	
	<!-- XML出力用のサーブレット -->
	<servlet>
		<servlet-name>Output</servlet-name>
		<servlet-class>jp.fukui.mapper.OutputServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Output</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>

	
</web-app>