
/* CLEARFIX
-----------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.clearfix { 
	display: inline-block;/*IE7・Mac版IE向け */
}
.clearfix { 
	display: block;/*Opera、Safari向け */
}
.clear {
	clear:both;
}


#content { 
  width: 800px;
  background-color: black;
  position:relative;
}

#left { 
  text-align:center;
  width:400px;
  float:left;
  margin:0px;
  padding:0px;
 }
#right { 
  text-align:center;
  width:400px;
  float:right;
  margin:0px;
  padding:0px;
}
#control {
  text-align:center;
  margin: 10px auto 0px auto;
 }

#audience {
}


#logo {
	float:left;

}
#mirrorBall {
	float:right;

}